.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.order_item {
  width: 100%;
  max-width: 900px;
  border: 1px solid var(--bg-primary);
  border-radius: 16px;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.header .status {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--bg-primary);
  color: var(--text-gray-0);
  padding: 4px 16px;
  border-radius: 16px;
}

.image_container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
}

.image_container img {
  width: 10%;
  min-width: 5rem;
  border-radius: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer .price {
  font-size: 1.8rem;
  font-weight: 500;
}

.footer a {
  align-self: center;
  font-size: 1.6rem;
  color: var(--text-gray-800);
  font-weight: 500;
  transition: all 0.3s ease;
}

.footer a:hover {
  color: var(--text-yellow-500);
  text-underline-offset: 4px;
  text-decoration: underline;
}
