.header {
  /* border-bottom: 1px solid #fcc419; */
  position: absolute;
  width: 100%;
  color: #fff;
  background-color: transparent;
}

.header a {
  color: #fcc419;
  /* color: #fff; */
}

.header a:hover {
  background-color: #f59f00;
  color: #fff;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.8rem;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header ul a {
  padding: 1.8rem;
  display: inline-block;
}

.menuContainer {
  position: relative;
}

.profile {
  font-size: 1.8rem;
}

.menu {
  position: absolute;
  display: none;
  z-index: 9999;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu a {
  width: 100%;
  min-width: 1.6rem;
}

.button {
  background-color: #f59f00;
  border: none;
  color: #fff;
  width: 100%;
  padding: 1.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background-color: #f03e3e;
}

.menuContainer:hover .menu {
  display: block;
}

.cart {
  transition: all 0.3s;
  font-size: 1.8rem;
}

.cart:hover .cartCount {
  background-color: #fff;
  color: #f59f00;
}

.cartCount {
  background-color: #f59f00;
  color: #fff;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 0.4rem;
}
